/* Estilo base */
body {
    background-image: url('IMG_20230810_164148.jpg'); 
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Agrega una sombra al cuerpo */
}

/* Estilo del título h1 */
h1 {
    font-size: 46px;
    color: #ca6296; /* Rosa apagado */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5); /* Sombra de texto */
}

/* Estilo del formulario y etiquetas */
form {
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra al formulario */
}

label {
    background-color: rgba(128, 128, 128, 0.781);
    font-size: 30px;
    color: white
}

/* Estilo de los campos de entrada y botones */
input[type="text"], button {
    padding: 10px;
    font-size: 30px;
    border: 1px solid #ff69b4;
    border-radius: 20px; /* Agrega bordes redondeados */
    margin: 10px; /* Añade márgenes */
    padding: 10px 20px; /* Añade padding */
}

button {
    background-color: #ca6296;; /* Rosa apagado */
    color: #fff;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: #ff69b4; /* Cambia el color de fondo en hover */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Cambia la sombra de texto en hover */
}

p {
    font-size: 20px;
    margin-top: 20px;
}
.respuesta {
    color: white;
    background-color: rgba(128, 128, 128, 0.781);
    font-size: 25px;
    padding: 20px;
    margin: 20px;
    text-align: left;
}
